
.tour-card {
    width: 20%;
    height: 40%;
    margin: 30px 30px ;
    display: inline-flex;
    flex-direction: column;
    max-height: 400px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.tour-details {
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    
    font-weight: 500;
    font-size: 1.15em;
    -webkit-line-clamp: 2;
}

.tour-title {
    display: flex;
    justify-content: space-between;
}

.cart-icon {
    display: inline;
    margin-right: 40px;
    color: rgb(4, 10, 117);;
}