#header {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    background-color: rgb(29, 29, 100);
}

table {
    width: 80%;
    margin: auto;
   
}
div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px; /* Center horizontally */
     /* Center vertically */
    /* Additional styling if needed */
  }
  