<mat-toolbar id="header">
  <h1>HIMACHAL TOURISM</h1>

</mat-toolbar>
<div >
  <div class="">

    <div class="container-cards">
      <img src="../../assets/images/Top-10-tourist-places-to-visit-in-Himachal-Pradesh.jpg" height="530px"
        width="100%">
    </div>
    <div class="container-texts">
      <nav>
        <h2>“Mountains are the beginning and the end of all-natural scenery.”</h2>
        <P class="container-texts-explore" routerLink="/explore-page"><button>Explore</button></P>
      </nav>
    </div>
  </div>
  <div class="milk-products-section">
    <div class="container">
      <h2><b >The Land Of Gods</b></h2>
      <div class="row">
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../assets/images/1Himalayas.jpg" alt="Himalayas" class="product-image">
            <h3><b>Himalayas</b></h3>

          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../assets/images/2Flora & Fauna.jpg" alt="Flora & Fauna" class="product-image">
            <h3><B>Flora & Fauna</B></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../assets/images/3Fairs & fests.jpeg" alt="Fairs" class="product-image">
            <h3><B>Fairs & fests</B></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../assets/images/4Cultures.jpeg" alt="Cultures" class="product-image">
            <h3><B>Cultures</B></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../assets/images/5cuisine.webp" alt="cuisine" class="product-image">
            <h3><B>Cuisine</B></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../assets/images/6Adventure.jpeg" alt="Candy Bar" class="product-image">
            <h3><B>Adventure</B></h3>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="delivery-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/images/the beautiful.jpeg" alt="beautiful" class="delivery-image">
        </div>
        <div class="col-md-6">
          <h2>The Beautiful State</h2>
          <p>
            Till 19th century, Tourism in Himachal Pradesh was restricted only to a limited movement of pilgrims to a
            few spiritual destinations in around the hills. Only when the British established their chain of hill
            stations did tourism receive recognition in the State. Tourism activity received a shot in the arm when
            British declared Shimla "The Summer Capital of India" in 1864. Post independence, more investment in the
            infrastructure sector led to opening up of Tourism in the State. However the biggest boost to tourism
            occurred in the mid 80s and 90s.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="freshness-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>The Spiritual places in himalayas</h2>
        <p>For a very long time, individuals looking for spirituality have been drawn to the hallowed Indian Himalayas. Its breathtaking peaks and peaceful surroundings provide a chance for life-changing trips. The region is also home to countless old temples, monasteries, and pristine natural beauty in addition to some of the highest mountains in the world. You may connect with nature, discover inner serenity, and trek on trails that seekers and sages have followed for years on the spiritual walks in the Indian Himalayas.</p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/Panch-Kedar-Trek.jpg" alt="Panch-Kedar-Trek" class="freshness-image">
      </div>
    </div>
  </div>
</div>